<h3>Beğendiniz mi?</h3>
<ul>
  <li>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="10013866">
      <a href="http://archman.org/archman-bagis/" target="_blank">
        <img src="{{pathto('_static/donate_paypal.png', 1)}}" alt="Bağış yapmak istiyorum" title="Bağış yapmak istiyorum" border="0" />
      </a>

    </form>
  </li>
</ul>
