<h3>İndir</h3>
<a href="https://gitlab.com/Archman-OS/archlinux_kullanici_kilavuzu" target="_blank" title="Dökümanı indirmek istiyorum.">
    <img src="{{pathto('_static/pdf_download.png', 1)}}" alt="Dökümanı indirmek istiyorum." />
</a> 